@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary: white;

}

html{
  scroll-snap-type: y proximity;
}

body.dark{
  --primary: black;
}

.btn {
  @apply capitalize px-5 py-2 border ring-1 ring-black dark:invert rounded-xl text-black bg-white hover:bg-black hover:text-white duration-300;
}

.btn-alt {
  @apply capitalize px-5 py-2 ring-1 ring-black dark:invert rounded-xl bg-black  text-white hover:bg-white  hover:text-black duration-300;
}
